.App {
  display: block;
  margin: 50px auto;
  font-family: sans-serif;
  text-align: center;
  width: 600px;
  max-width: 600px;
  max-height: 600px;
  font-family: monospace;
}
.App .container {
  padding: 0;
  margin: 0 auto;
}
.Header {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
}
.Header .row {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}
.Info {
  list-style: none;
  text-align: left;
  max-width: 300px;
  padding-left: 0px 0px;
}
.City {
  letter-spacing: 5px;
  font-size: 40px;
  font-style: bold;
}
.Time {
  font-size: 15px;
}
.Weather {
  list-style: none;
  text-align: right;
  max-width: 300px;
  padding: 0;
}
.Weather .temperature {
  font-size: 40px;
}
.Weather .temperature sup {
  vertical-align: super;
  font-size: 17px;
  position: relative;
  top: 1px;
}
.Stats {
  font-size: 15px;
}
.Stats .list {
  list-style: none;
}
.Icon .main-icon {
  height: 90px;
  width: 90px;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
}
.Search {
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.Search .search-engine {
  padding: 30px;
}
.Search .search-bar {
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #2f2e41;
  font-size: 22px;
  letter-spacing: 4px;
}
.Search .search-button {
  border: 0;
  border-radius: 5px;
  font-size: 22px;
  letter-spacing: 2px;
  margin-left: 10px;
}
.Forecast {
  margin: 10px auto;
  padding: 20px;
  margin-bottom: 0px;
  position: relative;
  bottom: 10px;
}
.flexbox-container {
  display: flex;
  flex-direction: row;
}
.Forecast .hours {
  height: 100px;
  width: 100px;
  display: block;
  padding: 30px;
}
.Forecast .hours:hover {
  background-color: lightgrey;
  opacity: 0.7;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}
.Forecast .forecast-icon {
  max-height: 50px;
}
.HourlyForecast {
  max-width: 50px;
}
.HourlyForecast:hover {
  background-color: lightgrey;
  opacity: 0.7;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}
.Footer {
  position: relative;
  bottom: 10px;
}
.Footer .link {
  color: grey;
}
.Footer .link:hover {
  cursor: pointer;
}
